In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\ravi varma landeri\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from requests) (4.0.0)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
Page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [4]:
soup = BeautifulSoup(Page.content)

In [ ]:
soup

In [5]:
r1_Player = soup.find_all('div', class_="rankings-block__banner--name-large")
r1_Player

In [6]:
row1_Player=[] 
for i in r1_Player:
    row1_Player.append(i.text.replace('\n',''))
row1_Player

['Marizanne Kapp']

In [7]:
r2_Player = soup.find_all('td', class_="table-body__cell rankings-table__name name")
r2_Player[0:5]

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1800">Natalie Sciver</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/471">Ellyse Perry</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/573">Stafanie Taylor</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/3192">Deepti Sharma</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/4128">Ashleigh Gardner</a>
 </td>]

In [8]:
row2_Player=[] 
for i in r2_Player:
    row2_Player.append(i.text.replace('\n',''))
row2_Player [0:5]

['Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner']

In [9]:
Top10_Player = row1_Player + row2_Player[0:9]
Top10_Player

['Marizanne Kapp',
 'Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Katherine Brunt',
 'Hayley Matthews']

In [10]:
r1_Team = soup.find_all('div', class_="rankings-block__banner--nationality")
r1_Team

[<div class="rankings-block__banner--nationality">
 <div class="flag-15 SA"></div>
 <span class="rankings-block__banner--nation"></span>SA
                     </div>]

In [11]:
row1_Team=[] 
for i in r1_Team:
    row1_Team.append(i.text.replace('\n',''))
row1_Team

['SA                    ']

In [12]:
r2_Team = soup.find_all('span', class_="table-body__logo-text")
r2_Team[0:5]

[<span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">WI</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">AUS</span>]

In [13]:
row2_Team=[] 
for i in r2_Team:
    row2_Team.append(i.text.replace('\n',''))
row2_Team[0:5]

['ENG', 'AUS', 'WI', 'IND', 'AUS']

In [14]:
Top10_Team = row1_Team + row2_Team[0:9]

In [15]:
Top10_Team

['SA                    ',
 'ENG',
 'AUS',
 'WI',
 'IND',
 'AUS',
 'SA',
 'AUS',
 'ENG',
 'WI']

In [16]:
r1_Rating = soup.find_all('div', class_="rankings-block__banner--rating")
r1_Rating

In [17]:
row1_Rating=[] 
for i in r1_Rating:
    row1_Rating.append(i.text.replace('\n',''))
row1_Rating

['384']

In [18]:
r2_Rating = soup.find_all('td', class_="table-body__cell rating")
r2_Rating[0:5]

[<td class="table-body__cell rating">372</td>,
 <td class="table-body__cell rating">365</td>,
 <td class="table-body__cell rating">314</td>,
 <td class="table-body__cell rating">299</td>,
 <td class="table-body__cell rating">275</td>]

In [19]:
row2_Rating=[] 
for i in r2_Rating:
    row2_Rating.append(i.text.replace('\n',''))
row2_Rating[0:5]

['372', '365', '314', '299', '275']

In [20]:
Top10_Rating = row1_Rating + row2_Rating[0:9]

In [21]:
Top10_Rating

['384', '372', '365', '314', '299', '275', '274', '272', '272', '271']

In [25]:
Top10_Allrounders_Women = {'Player':Top10_Player, 'Team':Top10_Team,'Rating':Top10_Rating}

In [27]:
import pandas as pd
ODI_Top10_Allrounders_Women = pd.DataFrame(Top10_Allrounders_Women)
ODI_Top10_Allrounders_Women

             Player                    Team Rating
0    Marizanne Kapp  SA                        384
1    Natalie Sciver                     ENG    372
2      Ellyse Perry                     AUS    365
3   Stafanie Taylor                      WI    314
4     Deepti Sharma                     IND    299
5  Ashleigh Gardner                     AUS    275
6  Dane van Niekerk                      SA    274
7     Jess Jonassen                     AUS    272
8   Katherine Brunt                     ENG    272
9   Hayley Matthews                      WI    271