In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\ravi varma landeri\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from requests) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\ravi varma landeri\anaconda3\lib\site-packages (from requests) (2.10)

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
Page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [4]:
soup = BeautifulSoup(Page.content)

In [ ]:
soup

In [5]:
r1_Player = soup.find_all('div', class_="rankings-block__banner--name-large")
r1_Player

In [6]:
row1_Player=[] 
for i in r1_Player:
    row1_Player.append(i.text.replace('\n',''))
row1_Player

['Lizelle Lee']

In [7]:
r2_Player = soup.find_all('td', class_="table-body__cell rankings-table__name name")
r2_Player[0:5]

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/466">Alyssa Healy</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/558">Mithali Raj</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/545">Tammy Beaumont</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/487">Amy Satterthwaite</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/womens/player-rankings/1809">Smriti Mandhana</a>
 </td>]

In [8]:
row2_Player=[] 
for i in r2_Player:
    row2_Player.append(i.text.replace('\n',''))
row2_Player [0:5]

['Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana']

In [9]:
Top10_Player = row1_Player + row2_Player[0:9]
Top10_Player

['Lizelle Lee',
 'Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Heather Knight',
 'Laura Wolvaardt']

In [10]:
r1_Team = soup.find_all('div', class_="rankings-block__banner--nationality")
r1_Team

[<div class="rankings-block__banner--nationality">
 <div class="flag-15 SA"></div>
 <span class="rankings-block__banner--nation"></span>SA
                     </div>]

In [11]:
row1_Team=[] 
for i in r1_Team:
    row1_Team.append(i.text.replace('\n',''))
row1_Team

['SA                    ']

In [12]:
r2_Team = soup.find_all('span', class_="table-body__logo-text")
r2_Team[0:5]

[<span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">IND</span>]

In [13]:
row2_Team=[] 
for i in r2_Team:
    row2_Team.append(i.text.replace('\n',''))
row2_Team[0:5]

['AUS', 'IND', 'ENG', 'NZ', 'IND']

In [14]:
Top10_Team = row1_Team + row2_Team[0:9]

In [15]:
Top10_Team

['SA                    ',
 'AUS',
 'IND',
 'ENG',
 'NZ',
 'IND',
 'AUS',
 'AUS',
 'ENG',
 'SA']

In [16]:
r1_Rating = soup.find_all('div', class_="rankings-block__banner--rating")
r1_Rating

In [17]:
row1_Rating=[] 
for i in r1_Rating:
    row1_Rating.append(i.text.replace('\n',''))
row1_Rating

['761']

In [18]:
r2_Rating = soup.find_all('td', class_="table-body__cell rating")
r2_Rating[0:5]

[<td class="table-body__cell rating">750</td>,
 <td class="table-body__cell rating">738</td>,
 <td class="table-body__cell rating">728</td>,
 <td class="table-body__cell rating">717</td>,
 <td class="table-body__cell rating">710</td>]

In [19]:
row2_Rating=[] 
for i in r2_Rating:
    row2_Rating.append(i.text.replace('\n',''))
row2_Rating[0:5]

['750', '738', '728', '717', '710']

In [20]:
Top10_Rating = row1_Rating + row2_Rating[0:9]

In [21]:
Top10_Rating

['761', '750', '738', '728', '717', '710', '699', '690', '674', '672']

In [25]:
Top10_Women_Batting = {'Player':Top10_Player, 'Team':Top10_Team,'Rating':Top10_Rating}

In [26]:
import pandas as pd
ODI_Top10_Women_Batting = pd.DataFrame(Top10_Women_Batting)
ODI_Top10_Women_Batting

              Player                    Team Rating
0        Lizelle Lee  SA                        761
1       Alyssa Healy                     AUS    750
2        Mithali Raj                     IND    738
3     Tammy Beaumont                     ENG    728
4  Amy Satterthwaite                      NZ    717
5    Smriti Mandhana                     IND    710
6        Meg Lanning                     AUS    699
7        Beth Mooney                     AUS    690
8     Heather Knight                     ENG    674
9    Laura Wolvaardt                      SA    672