In [ ]:
!pip install bs4
!pip install requests

In [5]:
from bs4 import BeautifulSoup
import requests

In [6]:
Page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [7]:
soup = BeautifulSoup(Page.content)

In [8]:
Page

In [ ]:
soup

In [9]:
Top_Teams= soup.find_all('span', class_="u-hide-phablet")
Top_Teams = Top_Teams[0:10]
Top_Teams

[<span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Ireland</span>]

In [10]:
Top10_Teams = []
for i in Top_Teams:
    Top10_Teams.append(i.text)
Top10_Teams

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [11]:
r1_Matches = soup.find_all('td', class_="rankings-block__banner--matches")
r1_Matches

In [12]:
row1_Matches=[] 
for i in r1_Matches:
    row1_Matches.append(i.text.replace('\n',''))
row1_Matches

['21']

In [13]:
r2_Matches = soup.find_all('td', class_="table-body__cell u-center-text")
r2_Matches

[<td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">2,983</td>,
 <td class="table-body__cell u-center-text">29</td>,
 <td class="table-body__cell u-center-text">3,390</td>,
 <td class="table-body__cell u-center-text">26</td>,
 <td class="table-body__cell u-center-text">2,934</td>,
 <td class="table-body__cell u-center-text">26</td>,
 <td class="table-body__cell u-center-text">2,392</td>,
 <td class="table-body__cell u-center-text">22</td>,
 <td class="table-body__cell u-center-text">1,872</td>,
 <td class="table-body__cell u-center-text">20</td>,
 <td class="table-body__cell u-center-text">1,496</td>,
 <td class="table-body__cell u-center-text">5</td>,
 <td class="table-body__cell u-center-text">306</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">519</td>,
 <td class="table-body__cell u-center-text">2</td>,
 <td class="table-body__cell u-center-text">25</td>]

In [14]:
row2_Matches=[] 
for i in range(0,len(r2_Matches),2):
    row2_Matches.append(r2_Matches[i].text)
row2_Matches

['25', '29', '26', '26', '22', '20', '5', '11', '2']

In [15]:
Top10_Matches = row1_Matches + row2_Matches[0:9]
Top10_Matches

['21', '25', '29', '26', '26', '22', '20', '5', '11', '2']

In [16]:
r1_Points = soup.find_all('td', class_="rankings-block__banner--points")
r1_Points

In [17]:
row1_Points=[] 
for i in r1_Points:
    row1_Points.append(i.text.replace('\n',''))
row1_Points

['3,379']

In [18]:
r2_Points = soup.find_all('td', class_="table-body__cell u-center-text")
r2_Points

[<td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">2,983</td>,
 <td class="table-body__cell u-center-text">29</td>,
 <td class="table-body__cell u-center-text">3,390</td>,
 <td class="table-body__cell u-center-text">26</td>,
 <td class="table-body__cell u-center-text">2,934</td>,
 <td class="table-body__cell u-center-text">26</td>,
 <td class="table-body__cell u-center-text">2,392</td>,
 <td class="table-body__cell u-center-text">22</td>,
 <td class="table-body__cell u-center-text">1,872</td>,
 <td class="table-body__cell u-center-text">20</td>,
 <td class="table-body__cell u-center-text">1,496</td>,
 <td class="table-body__cell u-center-text">5</td>,
 <td class="table-body__cell u-center-text">306</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">519</td>,
 <td class="table-body__cell u-center-text">2</td>,
 <td class="table-body__cell u-center-text">25</td>]

In [19]:
row2_Points=[] 
for i in range(1,len(r2_Points),2):
    row2_Points.append(r2_Points[i].text)
row2_Points

['2,983', '3,390', '2,934', '2,392', '1,872', '1,496', '306', '519', '25']

In [20]:
Top10_points = row1_Points + row2_Points[0:9]

In [21]:
Top10_points

['3,379',
 '2,983',
 '3,390',
 '2,934',
 '2,392',
 '1,872',
 '1,496',
 '306',
 '519',
 '25']

In [22]:
r1_Rating = soup.find_all('td', class_="rankings-block__banner--rating u-text-right")
r1_Rating

[<td class="rankings-block__banner--rating u-text-right">
                             161
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>]

In [23]:
row1_Rating=[] 
for i in r1_Rating:
    row1_Rating.append(i.text.replace('\n',''))
row1_Rating

['                            161                            ']

In [24]:
r2_Rating = soup.find_all('td', class_="table-body__cell u-text-right rating")
r2_Rating

[<td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell u-text-right rating">117</td>,
 <td class="table-body__cell u-text-right rating">113</td>,
 <td class="table-body__cell u-text-right rating">92</td>,
 <td class="table-body__cell u-text-right rating">85</td>,
 <td class="table-body__cell u-text-right rating">75</td>,
 <td class="table-body__cell u-text-right rating">61</td>,
 <td class="table-body__cell u-text-right rating">47</td>,
 <td class="table-body__cell u-text-right rating">13</td>]

In [25]:
row2_Rating=[] 
for i in r2_Rating:
    row2_Rating.append(i.text.replace('\n',''))
row2_Rating

['119', '117', '113', '92', '85', '75', '61', '47', '13']

In [26]:
Top10_Rating = row1_Rating + row2_Rating[0:9]

In [27]:
Top10_Rating

['                            161                            ',
 '119',
 '117',
 '113',
 '92',
 '85',
 '75',
 '61',
 '47',
 '13']

In [28]:
Top_ODI = {'Team':Top10_Teams, 'Matches':Top10_Matches, 'Points':Top10_points, 'Rating':Top10_Rating}

In [29]:
import pandas as pd
odi_Top10_Women_teams = pd.DataFrame(Top_ODI)
odi_Top10_Women_teams

,Team,Matches,Points,Rating
0,Australia,21,"3,379",161 ...
1,England,25,"2,983",119
2,South Africa,29,"3,390",117
3,India,26,"2,934",113
4,New Zealand,26,"2,392",92
5,West Indies,22,"1,872",85
6,Pakistan,20,"1,496",75
7,Bangladesh,5,306,61
8,Sri Lanka,11,519,47
9,Ireland,2,25,13