In [ ]:
!pip install bs4
!pip install requests

In [1]:
from bs4 import BeautifulSoup
import requests

In [34]:
Page = requests.get('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=XTSKVRSARYNJG56J6GJ8&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_sm')

In [35]:
soup = BeautifulSoup(Page.content)

In [36]:
Page

In [ ]:
soup

In [40]:
Top_movies= soup.find_all('td', class_="titleColumn")
Top_movies = Top_movies[0:100]
Top_movies

[<td class="titleColumn">
       1.
       <a href="/title/tt15097216/" title="T.J. Gnanavel (dir.), Suriya, Lijo Mol Jose">Jai Bhim</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       2.
       <a href="/title/tt0093603/" title="Mani Ratnam (dir.), Kamal Haasan, Saranya Ponvannan">Nayakan</a>
 <span class="secondaryInfo">(1987)</span>
 </td>,
 <td class="titleColumn">
       3.
       <a href="/title/tt8176054/" title="Mari Selvaraj (dir.), Kathir, Anandhi">Pariyerum Perumal</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       4.
       <a href="/title/tt0367495/" title="Sundar C. (dir.), Kamal Haasan, Madhavan">Anbe Sivam</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       5.
       <a href="/title/tt10280296/" title="Shoojit Sircar (dir.), Vicky Kaushal, Banita Sandhu">Sardar Udham</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       6.
       <a href="/title/tt7391996/" title="Venkatesh Maha (dir.), Radha Bessy, Subba Rao Vepada">C/o Kancharapalem</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       7.
       <a href="/title/tt0237376/" title="Sibi Malayil (dir.), Mohanlal, Thilakan">Kireedam</a>
 <span class="secondaryInfo">(1989)</span>
 </td>,
 <td class="titleColumn">
       8.
       <a href="/title/tt0214915/" title="Fazil (dir.), Mohanlal, Shobana">Manichitrathazhu</a>
 <span class="secondaryInfo">(1993)</span>
 </td>,
 <td class="titleColumn">
       9.
       <a href="/title/tt0079221/" title="Hrishikesh Mukherjee (dir.), Amol Palekar, Bindiya Goswami">Golmaal</a>
 <span class="secondaryInfo">(1979)</span>
 </td>,
 <td class="titleColumn">
       10.
       <a href="/title/tt0052572/" title="Satyajit Ray (dir.), Soumitra Chatterjee, Sharmila Tagore">Apur Sansar</a>
 <span class="secondaryInfo">(1959)</span>
 </td>,
 <td class="titleColumn">
       11.
       <a href="/title/tt5311546/" title="Mahesh Manjrekar (dir.), Nana Patekar, Medha Manjrekar">Natsamrat</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       12.
       <a href="/title/tt0105575/" title="Bharathan (dir.), Kamal Haasan, Shivaji Ganesan">Thevar Magan</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       13.
       <a href="/title/tt8413338/" title="Madhu C. Narayanan (dir.), Shane Nigam, Soubin Shahir">Kumbalangi Nights</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       14.
       <a href="/title/tt0400234/" title="Anurag Kashyap (dir.), Kay Kay Menon, Pawan Malhotra">Black Friday</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       15.
       <a href="/title/tt7019842/" title="C. Prem Kumar (dir.), Vijay Sethupathi, Adithya Bhaskar">96</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       16.
       <a href="/title/tt0048473/" title="Satyajit Ray (dir.), Kanu Bannerjee, Karuna Bannerjee">Pather Panchali</a>
 <span class="secondaryInfo">(1955)</span>
 </td>,
 <td class="titleColumn">
       17.
       <a href="/title/tt10534500/" title="Rojin Thomas (dir.), Indrans, Sreenath Bhasi">#Home</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       18.
       <a href="/title/tt10189514/" title="Sudha Kongara (dir.), Suriya, Paresh Rawal">Soorarai Pottru</a>
 <span class="secondaryInfo">(2020)</span>
 </td>,
 <td class="titleColumn">
       19.
       <a href="/title/tt4991384/" title="Vetrimaaran (dir.), Dinesh, Samuthirakani">Visaaranai</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       20.
       <a href="/title/tt8948790/" title="Gowtam Tinnanuri (dir.), Nani, Shraddha Srinath">Jersey</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       21.
       <a href="/title/tt1187043/" title="Rajkumar Hirani (dir.), Aamir Khan, Madhavan">3 Idiots</a>
 <span class="secondaryInfo">(2009)</span>
 </td>,
 <td class="titleColumn">
       22.
       <a href="/title/tt9477520/" title="Vetrimaaran (dir.), Dhanush, Manju Warrier">Asuran</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       23.
       <a href="/title/tt0986264/" title="Aamir Khan (dir.), Darsheel Safary, Aamir Khan">Taare Zameen Par</a>
 <span class="secondaryInfo">(2007)</span>
 </td>,
 <td class="titleColumn">
       24.
       <a href="/title/tt9900782/" title="Lokesh Kanagaraj (dir.), Karthi, Narain">Kaithi</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       25.
       <a href="/title/tt0101649/" title="Mani Ratnam (dir.), Rajinikanth, Mammootty">Thalapathi</a>
 <span class="secondaryInfo">(1991)</span>
 </td>,
 <td class="titleColumn">
       26.
       <a href="/title/tt11580854/" title="Pa. Ranjith (dir.), Arya, Pasupathy">Sarpatta Parambarai</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       27.
       <a href="/title/tt12361178/" title="Jeethu Joseph (dir.), Mohanlal, Meena">Drishyam 2</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       28.
       <a href="/title/tt0291855/" title="I.V. Sasi (dir.), Mohanlal, Revathi">Devasuram</a>
 <span class="secondaryInfo">(1993)</span>
 </td>,
 <td class="titleColumn">
       29.
       <a href="/title/tt5074352/" title="Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar">Dangal</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       30.
       <a href="/title/tt7738784/" title="Ram (dir.), Mammootty, Sadhana">Peranbu</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       31.
       <a href="/title/tt5959980/" title="Vetrimaaran (dir.), Dhanush, Ameer Sultan">Vada Chennai</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       32.
       <a href="/title/tt0214585/" title="Priyadarshan (dir.), Mohanlal, Nedumudi Venu">Chithram</a>
 <span class="secondaryInfo">(1988)</span>
 </td>,
 <td class="titleColumn">
       33.
       <a href="/title/tt0048956/" title="Satyajit Ray (dir.), Pinaki Sengupta, Smaran Ghosal">Aparajito</a>
 <span class="secondaryInfo">(1956)</span>
 </td>,
 <td class="titleColumn">
       34.
       <a href="/title/tt0085743/" title="Kundan Shah (dir.), Naseeruddin Shah, Ravi Baswani">Jaane Bhi Do Yaaro</a>
 <span class="secondaryInfo">(1983)</span>
 </td>,
 <td class="titleColumn">
       35.
       <a href="/title/tt0050870/" title="Guru Dutt (dir.), Guru Dutt, Waheeda Rehman">Pyaasa</a>
 <span class="secondaryInfo">(1957)</span>
 </td>,
 <td class="titleColumn">
       36.
       <a href="/title/tt4987556/" title="Mohan Raja (dir.), Jayam Ravi, Arvind Swamy">Thani Oruvan</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       37.
       <a href="/title/tt0059246/" title="Vijay Anand (dir.), Dev Anand, Waheeda Rehman">Guide</a>
 <span class="secondaryInfo">(1965)</span>
 </td>,
 <td class="titleColumn">
       38.
       <a href="/title/tt7060344/" title="Ram Kumar (dir.), Vishnu Vishal, Amala Paul">Ratsasan</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       39.
       <a href="/title/tt0292246/" title="Bhadran (dir.), Mohanlal, Thilakan">Spadikam</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       40.
       <a href="/title/tt0119385/" title="Mani Ratnam (dir.), Mohanlal, Prakash Raj">Iruvar</a>
 <span class="secondaryInfo">(1997)</span>
 </td>,
 <td class="titleColumn">
       41.
       <a href="/title/tt0312859/" title="Mani Ratnam (dir.), Madhavan, Simran">Kannathil Muthamittal</a>
 <span class="secondaryInfo">(2002)</span>
 </td>,
 <td class="titleColumn">
       42.
       <a href="/title/tt10214826/" title="Swaroop Rsj (dir.), Naveen Polishetty, Shruti Sharma">Agent Sai Srinivasa Athreya</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       43.
       <a href="/title/tt0072783/" title="Hrishikesh Mukherjee (dir.), Dharmendra, Sharmila Tagore">Chupke Chupke</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       44.
       <a href="/title/tt7019942/" title="Thiagarajan Kumararaja (dir.), Vijay Sethupathi, Fahadh Faasil">Super Deluxe</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       45.
       <a href="/title/tt7465992/" title="Nag Ashwin (dir.), Keerthy Suresh, Dulquer Salmaan">Mahanati</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       46.
       <a href="/title/tt5867800/" title="Arun Prabhu Purushothaman (dir.), Aditi Balan, Padmashri Mohammad Ali">Aruvi</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       47.
       <a href="/title/tt0459516/" title="K. Selvaraghavan (dir.), Dhanush, Sneha">Pudhu Pettai</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       48.
       <a href="/title/tt0466460/" title="Dibakar Banerjee (dir.), Anupam Kher, Boman Irani">Khosla Ka Ghosla!</a>
 <span class="secondaryInfo">(2006)</span>
 </td>,
 <td class="titleColumn">
       49.
       <a href="/title/tt3417422/" title="Jeethu Joseph (dir.), Mohanlal, Meena">Drishyam</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       50.
       <a href="/title/tt0376127/" title="S. Shankar (dir.), Vikram, Sada">Anniyan</a>
 <span class="secondaryInfo">(2005)</span>
 </td>,
 <td class="titleColumn">
       51.
       <a href="/title/tt8239946/" title="Rahi Anil Barve (dir.), Sohum Shah, Jyoti Malshe">Tumbbad</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       52.
       <a href="/title/tt3973410/" title="M. Manikandan (dir.), Ramesh, J. Vignesh">Kaakkaa Muttai</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       53.
       <a href="/title/tt4679210/" title="Alphonse Puthren (dir.), Nivin Pauly, Sai Pallavi">Premam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       54.
       <a href="/title/tt0220656/" title="S. Shankar (dir.), Arjun Sarja, Manisha Koirala">Mudhalvan</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       55.
       <a href="/title/tt6148156/" title="Gayatri (dir.), Madhavan, Vijay Sethupathi">Vikram Vedha</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       56.
       <a href="/title/tt3668162/" title="Anjali Menon (dir.), Nazriya Nazim, Nivin Pauly">Bangalore Days</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       57.
       <a href="/title/tt4429128/" title="Jeethu Joseph (dir.), Kamal Haasan, Gautami">Papanasam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       58.
       <a href="/title/tt0195231/" title="Ram Gopal Varma (dir.), J.D. Chakravarthi, Manoj Bajpayee">Satya</a>
 <span class="secondaryInfo">(1998)</span>
 </td>,
 <td class="titleColumn">
       59.
       <a href="/title/tt0215517/" title="Gulzar (dir.), Sanjeev Kumar, Moushumi Chatterjee">Angoor</a>
 <span class="secondaryInfo">(1982)</span>
 </td>,
 <td class="titleColumn">
       60.
       <a href="/title/tt2877108/" title="Nalan Kumarasamy (dir.), Vijay Sethupathi, Sanchita Shetty">Soodhu Kavvum</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       61.
       <a href="/title/tt6380520/" title="Karthick Naren (dir.), Rahman, Prakash Raghavan">Dhuruvangal Pathinaaru</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       62.
       <a href="/title/tt10687070/" title="Madonne Ashwin (dir.), Yogi Babu, Sheela Rajkumar">Mandela</a>
 <span class="secondaryInfo">(2021)</span>
 </td>,
 <td class="titleColumn">
       63.
       <a href="/title/tt8108198/" title="Sriram Raghavan (dir.), Ayushmann Khurrana, Tabu">Andhadhun</a>
 <span class="secondaryInfo">(2018)</span>
 </td>,
 <td class="titleColumn">
       64.
       <a href="/title/tt0376076/" title="Bala (dir.), Vikram, Suriya">Pithamagan</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       65.
       <a href="/title/tt2181831/" title="Hansal Mehta (dir.), Rajkummar Rao, Prabhleen Sandhu">Shahid</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       66.
       <a href="/title/tt3569782/" title="Karthik Subbaraj (dir.), Siddharth, Bobby Simha">Jigarthanda</a>
 <span class="secondaryInfo">(2014)</span>
 </td>,
 <td class="titleColumn">
       67.
       <a href="/title/tt1954470/" title="Anurag Kashyap (dir.), Manoj Bajpayee, Richa Chadha">Gangs of Wasseypur</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       68.
       <a href="/title/tt0066763/" title="Hrishikesh Mukherjee (dir.), Rajesh Khanna, Amitabh Bachchan">Anand</a>
 <span class="secondaryInfo">(1971)</span>
 </td>,
 <td class="titleColumn">
       69.
       <a href="/title/tt1620933/" title="Tigmanshu Dhulia (dir.), Irrfan Khan, Mahie Gill">Paan Singh Tomar</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       70.
       <a href="/title/tt5312232/" title="Nagraj Manjule (dir.), Rinku Rajguru, Akash Thosar">Sairat</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       71.
       <a href="/title/tt2356180/" title="Rakeysh Omprakash Mehra (dir.), Farhan Akhtar, Sonam Kapoor">Bhaag Milkha Bhaag</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       72.
       <a href="/title/tt4851630/" title="Dileesh Pothan (dir.), Fahadh Faasil, Aparna Balamurali">Maheshinte Prathikaaram</a>
 <span class="secondaryInfo">(2016)</span>
 </td>,
 <td class="titleColumn">
       73.
       <a href="/title/tt0242519/" title="Priyadarshan (dir.), Akshay Kumar, Suniel Shetty">Hera Pheri</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       74.
       <a href="/title/tt0073707/" title="Ramesh Sippy (dir.), Sanjeev Kumar, Dharmendra">Sholay</a>
 <span class="secondaryInfo">(1975)</span>
 </td>,
 <td class="titleColumn">
       75.
       <a href="/title/tt7060460/" title="H. Vinoth (dir.), Karthi, Rakul Preet Singh">Theeran Adhigaaram Ondru</a>
 <span class="secondaryInfo">(2017)</span>
 </td>,
 <td class="titleColumn">
       76.
       <a href="/title/tt0367110/" title="Ashutosh Gowariker (dir.), Shah Rukh Khan, Gayatri Joshi">Swades: We, the People</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       77.
       <a href="/title/tt0871510/" title="Shimit Amin (dir.), Shah Rukh Khan, Vidya Malvade">Chak De! India</a>
 <span class="secondaryInfo">(2007)</span>
 </td>,
 <td class="titleColumn">
       78.
       <a href="/title/tt2218988/" title="Anwar Rasheed (dir.), Dulquer Salmaan, Thilakan">Ustad Hotel</a>
 <span class="secondaryInfo">(2012)</span>
 </td>,
 <td class="titleColumn">
       79.
       <a href="/title/tt4934950/" title="Meghna Gulzar (dir.), Irrfan Khan, Konkona Sen Sharma">Talvar</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       80.
       <a href="/title/tt0054098/" title="K. Asif (dir.), Prithviraj Kapoor, Madhubala">Mughal-E-Azam</a>
 <span class="secondaryInfo">(1960)</span>
 </td>,
 <td class="titleColumn">
       81.
       <a href="/title/tt9052870/" title="Nitesh Tiwari (dir.), Sushant Singh Rajput, Shraddha Kapoor">Chhichhore</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       82.
       <a href="/title/tt0375611/" title="Sanjay Leela Bhansali (dir.), Amitabh Bachchan, Rani Mukerji">Black</a>
 <span class="secondaryInfo">(2005)</span>
 </td>,
 <td class="titleColumn">
       83.
       <a href="/title/tt0104561/" title="Mansoor Khan (dir.), Aamir Khan, Ayesha Jhulka">Jo Jeeta Wohi Sikandar</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       84.
       <a href="/title/tt1562872/" title="Zoya Akhtar (dir.), Hrithik Roshan, Farhan Akhtar">Zindagi Na Milegi Dobara</a>
 <span class="secondaryInfo">(2011)</span>
 </td>,
 <td class="titleColumn">
       85.
       <a href="/title/tt0139876/" title="Suresh Krishna (dir.), Rajinikanth, Nagma">Baasha</a>
 <span class="secondaryInfo">(1995)</span>
 </td>,
 <td class="titleColumn">
       86.
       <a href="/title/tt0057935/" title="Satyajit Ray (dir.), Soumitra Chatterjee, Madhabi Mukherjee">Charulata</a>
 <span class="secondaryInfo">(1964)</span>
 </td>,
 <td class="titleColumn">
       87.
       <a href="/title/tt5005684/" title="Ashwiny Iyer Tiwari (dir.), Swara Bhaskar, Ratna Pathak Shah">Nil Battey Sannata</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       88.
       <a href="/title/tt10324144/" title="Anubhav Sinha (dir.), Ayushmann Khurrana, Nassar">Article 15</a>
 <span class="secondaryInfo">(2019)</span>
 </td>,
 <td class="titleColumn">
       89.
       <a href="/title/tt0364647/" title="Kamal Haasan (dir.), Kamal Haasan, Abhirami">Virumandi</a>
 <span class="secondaryInfo">(2004)</span>
 </td>,
 <td class="titleColumn">
       90.
       <a href="/title/tt4430212/" title="Nishikant Kamat (dir.), Ajay Devgn, Shriya Saran">Drishyam</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       91.
       <a href="/title/tt1639426/" title="Vikramaditya Motwane (dir.), Rajat Barmecha, Ronit Roy">Udaan</a>
 <span class="secondaryInfo">(2010)</span>
 </td>,
 <td class="titleColumn">
       92.
       <a href="/title/tt1280558/" title="Neeraj Pandey (dir.), Anupam Kher, Naseeruddin Shah">A Wednesday</a>
 <span class="secondaryInfo">(2008)</span>
 </td>,
 <td class="titleColumn">
       93.
       <a href="/title/tt0242256/" title="Mani Ratnam (dir.), Madhavan, Shalini">Alai Payuthey</a>
 <span class="secondaryInfo">(2000)</span>
 </td>,
 <td class="titleColumn">
       94.
       <a href="/title/tt4635372/" title="Neeraj Ghaywan (dir.), Richa Chadha, Sanjay Mishra">Masaan</a>
 <span class="secondaryInfo">(2015)</span>
 </td>,
 <td class="titleColumn">
       95.
       <a href="/title/tt0374887/" title="Rajkumar Hirani (dir.), Sanjay Dutt, Arshad Warsi">Munna Bhai M.B.B.S.</a>
 <span class="secondaryInfo">(2003)</span>
 </td>,
 <td class="titleColumn">
       96.
       <a href="/title/tt0200087/" title="John Mathew Matthan (dir.), Aamir Khan, Naseeruddin Shah">Sarfarosh</a>
 <span class="secondaryInfo">(1999)</span>
 </td>,
 <td class="titleColumn">
       97.
       <a href="/title/tt3322420/" title="Vikas Bahl (dir.), Kangana Ranaut, Rajkummar Rao">Queen</a>
 <span class="secondaryInfo">(2013)</span>
 </td>,
 <td class="titleColumn">
       98.
       <a href="/title/tt0105271/" title="Mani Ratnam (dir.), Arvind Swamy, Madhoo">Roja</a>
 <span class="secondaryInfo">(1992)</span>
 </td>,
 <td class="titleColumn">
       99.
       <a href="/title/tt0292490/" title="Farhan Akhtar (dir.), Aamir Khan, Saif Ali Khan">Dil Chahta Hai</a>
 <span class="secondaryInfo">(2001)</span>
 </td>,
 <td class="titleColumn">
       100.
       <a href="/title/tt2283748/" title="Umesh Shukla (dir.), Paresh Rawal, Akshay Kumar">OMG: Oh My God!</a>
 <span class="secondaryInfo">(2012)</span>
 </td>]

In [41]:
Top100_Movies = []
for i in Top_movies:
    Top100_Movies.append(i.find('a').text)
Top100_Movies

['Jai Bhim',
 'Nayakan',
 'Pariyerum Perumal',
 'Anbe Sivam',
 'Sardar Udham',
 'C/o Kancharapalem',
 'Kireedam',
 'Manichitrathazhu',
 'Golmaal',
 'Apur Sansar',
 'Natsamrat',
 'Thevar Magan',
 'Kumbalangi Nights',
 'Black Friday',
 '96',
 'Pather Panchali',
 '#Home',
 'Soorarai Pottru',
 'Visaaranai',
 'Jersey',
 '3 Idiots',
 'Asuran',
 'Taare Zameen Par',
 'Kaithi',
 'Thalapathi',
 'Sarpatta Parambarai',
 'Drishyam 2',
 'Devasuram',
 'Dangal',
 'Peranbu',
 'Vada Chennai',
 'Chithram',
 'Aparajito',
 'Jaane Bhi Do Yaaro',
 'Pyaasa',
 'Thani Oruvan',
 'Guide',
 'Ratsasan',
 'Spadikam',
 'Iruvar',
 'Kannathil Muthamittal',
 'Agent Sai Srinivasa Athreya',
 'Chupke Chupke',
 'Super Deluxe',
 'Mahanati',
 'Aruvi',
 'Pudhu Pettai',
 'Khosla Ka Ghosla!',
 'Drishyam',
 'Anniyan',
 'Tumbbad',
 'Kaakkaa Muttai',
 'Premam',
 'Mudhalvan',
 'Vikram Vedha',
 'Bangalore Days',
 'Papanasam',
 'Satya',
 'Angoor',
 'Soodhu Kavvum',
 'Dhuruvangal Pathinaaru',
 'Mandela',
 'Andhadhun',
 'Pithamagan',
 'Shahid',
 'Jigarthanda',
 'Gangs of Wasseypur',
 'Anand',
 'Paan Singh Tomar',
 'Sairat',
 'Bhaag Milkha Bhaag',
 'Maheshinte Prathikaaram',
 'Hera Pheri',
 'Sholay',
 'Theeran Adhigaaram Ondru',
 'Swades: We, the People',
 'Chak De! India',
 'Ustad Hotel',
 'Talvar',
 'Mughal-E-Azam',
 'Chhichhore',
 'Black',
 'Jo Jeeta Wohi Sikandar',
 'Zindagi Na Milegi Dobara',
 'Baasha',
 'Charulata',
 'Nil Battey Sannata',
 'Article 15',
 'Virumandi',
 'Drishyam',
 'Udaan',
 'A Wednesday',
 'Alai Payuthey',
 'Masaan',
 'Munna Bhai M.B.B.S.',
 'Sarfarosh',
 'Queen',
 'Roja',
 'Dil Chahta Hai',
 'OMG: Oh My God!']

In [43]:
Rating = soup.find_all('td', class_="ratingColumn imdbRating")
Rating = Rating[0:100]
Rating

[<td class="ratingColumn imdbRating">
 <strong title="8.7 based on 136,245 user ratings">8.7</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 18,817 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 13,976 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 19,523 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 29,556 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 6,162 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 7,126 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 9,953 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 18,778 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.5 based on 13,756 user ratings">8.5</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 6,248 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 6,591 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 12,733 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 20,149 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 25,539 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 29,353 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 10,290 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 101,802 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 9,886 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 12,636 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.4 based on 371,670 user ratings">8.4</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 22,820 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 182,512 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 19,562 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 11,432 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 18,102 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 31,871 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,424 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 173,940 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 14,282 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 15,128 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,119 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,238 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 13,781 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 6,095 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 18,825 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 7,854 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 36,284 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.3 based on 5,415 user ratings">8.3</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,722 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 8,101 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,655 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 12,239 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 13,043 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,513 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 12,466 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,019 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 23,245 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 38,568 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 16,623 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 38,220 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,595 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 19,390 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 7,340 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 34,578 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 18,825 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,944 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 14,533 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,116 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 9,931 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 14,558 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 5,797 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 84,569 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 6,309 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 16,193 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.2 based on 11,283 user ratings">8.2</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 90,790 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 32,999 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 35,150 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,291 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 65,218 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 8,221 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 62,846 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 54,004 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,902 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 87,525 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 77,824 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 13,446 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 33,673 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 7,888 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 45,620 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 34,323 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 22,692 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 73,573 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 9,844 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,937 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,433 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 28,368 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 5,716 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 77,423 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 44,126 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 76,744 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 6,055 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 26,371 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 78,462 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 25,037 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 64,013 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 12,479 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 70,057 user ratings">8.1</strong>
 </td>,
 <td class="ratingColumn imdbRating">
 <strong title="8.1 based on 55,711 user ratings">8.1</strong>
 </td>]

In [44]:
Top100_Rating=[] 
for i in Rating:
    Top100_Rating.append(i.text.replace('\n',''))
Top100_Rating

['8.7',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [45]:
Year_of_release = soup.find_all('span', class_="secondaryInfo")
Year_of_release = Year_of_release[0:100]
Year_of_release

[<span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(1987)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1989)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(1979)</span>,
 <span class="secondaryInfo">(1959)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1955)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2020)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2009)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1991)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(1993)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1988)</span>,
 <span class="secondaryInfo">(1956)</span>,
 <span class="secondaryInfo">(1983)</span>,
 <span class="secondaryInfo">(1957)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1965)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1997)</span>,
 <span class="secondaryInfo">(2002)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2006)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1998)</span>,
 <span class="secondaryInfo">(1982)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2021)</span>,
 <span class="secondaryInfo">(2018)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2014)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(1971)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(2016)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(1975)</span>,
 <span class="secondaryInfo">(2017)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2007)</span>,
 <span class="secondaryInfo">(2012)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(1960)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2005)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2011)</span>,
 <span class="secondaryInfo">(1995)</span>,
 <span class="secondaryInfo">(1964)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2019)</span>,
 <span class="secondaryInfo">(2004)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2010)</span>,
 <span class="secondaryInfo">(2008)</span>,
 <span class="secondaryInfo">(2000)</span>,
 <span class="secondaryInfo">(2015)</span>,
 <span class="secondaryInfo">(2003)</span>,
 <span class="secondaryInfo">(1999)</span>,
 <span class="secondaryInfo">(2013)</span>,
 <span class="secondaryInfo">(1992)</span>,
 <span class="secondaryInfo">(2001)</span>,
 <span class="secondaryInfo">(2012)</span>]

In [46]:
Top100_Years=[] 
for i in Year_of_release:
    Top100_Years.append(i.text)
Top100_Years

['(2021)',
 '(1987)',
 '(2018)',
 '(2003)',
 '(2021)',
 '(2018)',
 '(1989)',
 '(1993)',
 '(1979)',
 '(1959)',
 '(2016)',
 '(1992)',
 '(2019)',
 '(2004)',
 '(2018)',
 '(1955)',
 '(2021)',
 '(2020)',
 '(2015)',
 '(2019)',
 '(2009)',
 '(2019)',
 '(2007)',
 '(2019)',
 '(1991)',
 '(2021)',
 '(2021)',
 '(1993)',
 '(2016)',
 '(2018)',
 '(2018)',
 '(1988)',
 '(1956)',
 '(1983)',
 '(1957)',
 '(2015)',
 '(1965)',
 '(2018)',
 '(1995)',
 '(1997)',
 '(2002)',
 '(2019)',
 '(1975)',
 '(2019)',
 '(2018)',
 '(2016)',
 '(2006)',
 '(2006)',
 '(2013)',
 '(2005)',
 '(2018)',
 '(2014)',
 '(2015)',
 '(1999)',
 '(2017)',
 '(2014)',
 '(2015)',
 '(1998)',
 '(1982)',
 '(2013)',
 '(2016)',
 '(2021)',
 '(2018)',
 '(2003)',
 '(2012)',
 '(2014)',
 '(2012)',
 '(1971)',
 '(2012)',
 '(2016)',
 '(2013)',
 '(2016)',
 '(2000)',
 '(1975)',
 '(2017)',
 '(2004)',
 '(2007)',
 '(2012)',
 '(2015)',
 '(1960)',
 '(2019)',
 '(2005)',
 '(1992)',
 '(2011)',
 '(1995)',
 '(1964)',
 '(2015)',
 '(2019)',
 '(2004)',
 '(2015)',
 '(2010)',
 '(2008)',
 '(2000)',
 '(2015)',
 '(2003)',
 '(1999)',
 '(2013)',
 '(1992)',
 '(2001)',
 '(2012)']

In [47]:
top100_IMDB = {'Names':Top100_Movies,'Ratings':Top100_Rating,'Years':Top100_Years}
import pandas as pd
IMDB_Top100_Indian_movies= pd.DataFrame.from_dict(top100_IMDB, orient='index').T
IMDB_Top100_Indian_movies

                Names Ratings   Years
0            Jai Bhim     8.7  (2021)
1             Nayakan     8.5  (1987)
2   Pariyerum Perumal     8.5  (2018)
3          Anbe Sivam     8.5  (2003)
4        Sardar Udham     8.5  (2021)
..                ...     ...     ...
95          Sarfarosh     8.1  (1999)
96              Queen     8.1  (2013)
97               Roja     8.1  (1992)
98     Dil Chahta Hai     8.1  (2001)
99    OMG: Oh My God!     8.1  (2012)

[100 rows x 3 columns]