In [ ]:
!pip install bs4
!pip install requests

In [1]:
from bs4 import BeautifulSoup
import requests

In [52]:
Page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [53]:
soup = BeautifulSoup(Page.content)

In [60]:
Page

In [ ]:
soup

In [66]:
Top_Teams= soup.find_all('span', class_="u-hide-phablet")
Top_Teams = Top_Teams[0:10]
Top_Teams

[<span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Afghanistan</span>]

In [182]:
Top10_Teams = []
for i in Top_Teams:
    Top10_Teams.append(i.text)
Top10_Teams

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [115]:
r1_Matches = soup.find_all('td', class_="rankings-block__banner--matches")
r1_Matches

In [116]:
row1_Matches=[] 
for i in r1_Matches:
    row1_Matches.append(i.text.replace('\n',''))
row1_Matches

['17']

In [117]:
r2_Matches = soup.find_all('td', class_="table-body__cell u-center-text")
r2_Matches

[<td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,793</td>,
 <td class="table-body__cell u-center-text">28</td>,
 <td class="table-body__cell u-center-text">3,244</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,624</td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">2,459</td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">2,524</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,740</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,523</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">2,657</td>,
 <td class="table-body__cell u-center-text">17</td>,
 <td class="table-body__cell u-center-text">1,054</td>,
 <td class="table-body__cell u-center-text">7</td>,
 <td class="table-body__cell u-center-text">336</td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">1,145</td>,
 <td class="table-body__cell u-center-text">10</td>,
 <td class="table-body__cell u-center-text">452</td>,
 <td class="table-body__cell u-center-text">20</td>,
 <td class="table-body__cell u-center-text">764</td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">524</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">330</td>,
 <td class="table-body__cell u-center-text">9</td>,
 <td class="table-body__cell u-center-text">190</td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">232</td>,
 <td class="table-body__cell u-center-text">6</td>,
 <td class="table-body__cell u-center-text">97</td>,
 <td class="table-body__cell u-center-text">13</td>,
 <td class="table-body__cell u-center-text">0</td>]

In [119]:
row2_Matches=[] 
for i in range(0,len(r2_Matches),2):
    row2_Matches.append(r2_Matches[i].text)
row2_Matches

['32',
 '28',
 '32',
 '25',
 '27',
 '30',
 '30',
 '32',
 '17',
 '7',
 '25',
 '10',
 '20',
 '14',
 '11',
 '9',
 '14',
 '6',
 '13']

In [183]:
Top10_Matches = row1_Matches + row2_Matches[0:9]
Top10_Matches

['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']

In [139]:
r1_Points = soup.find_all('td', class_="rankings-block__banner--points")
r1_Points

In [140]:
row1_Points=[] 
for i in r1_Points:
    row1_Points.append(i.text.replace('\n',''))
row1_Points

['2,054']

In [142]:
r2_Points = soup.find_all('td', class_="table-body__cell u-center-text")
r2_Points

[<td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,793</td>,
 <td class="table-body__cell u-center-text">28</td>,
 <td class="table-body__cell u-center-text">3,244</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">3,624</td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">2,459</td>,
 <td class="table-body__cell u-center-text">27</td>,
 <td class="table-body__cell u-center-text">2,524</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,740</td>,
 <td class="table-body__cell u-center-text">30</td>,
 <td class="table-body__cell u-center-text">2,523</td>,
 <td class="table-body__cell u-center-text">32</td>,
 <td class="table-body__cell u-center-text">2,657</td>,
 <td class="table-body__cell u-center-text">17</td>,
 <td class="table-body__cell u-center-text">1,054</td>,
 <td class="table-body__cell u-center-text">7</td>,
 <td class="table-body__cell u-center-text">336</td>,
 <td class="table-body__cell u-center-text">25</td>,
 <td class="table-body__cell u-center-text">1,145</td>,
 <td class="table-body__cell u-center-text">10</td>,
 <td class="table-body__cell u-center-text">452</td>,
 <td class="table-body__cell u-center-text">20</td>,
 <td class="table-body__cell u-center-text">764</td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">524</td>,
 <td class="table-body__cell u-center-text">11</td>,
 <td class="table-body__cell u-center-text">330</td>,
 <td class="table-body__cell u-center-text">9</td>,
 <td class="table-body__cell u-center-text">190</td>,
 <td class="table-body__cell u-center-text">14</td>,
 <td class="table-body__cell u-center-text">232</td>,
 <td class="table-body__cell u-center-text">6</td>,
 <td class="table-body__cell u-center-text">97</td>,
 <td class="table-body__cell u-center-text">13</td>,
 <td class="table-body__cell u-center-text">0</td>]

In [145]:
row2_Points=[] 
for i in range(1,len(r2_Points),2):
    row2_Points.append(r2_Points[i].text)
row2_Points

['3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054',
 '336',
 '1,145',
 '452',
 '764',
 '524',
 '330',
 '190',
 '232',
 '97',
 '0']

In [149]:
Top10_points = row1_Points + row2_Points[0:9]

In [184]:
Top10_points

['2,054',
 '3,793',
 '3,244',
 '3,624',
 '2,459',
 '2,524',
 '2,740',
 '2,523',
 '2,657',
 '1,054']

In [152]:
r1_Rating = soup.find_all('td', class_="rankings-block__banner--rating u-text-right")
r1_Rating

[<td class="rankings-block__banner--rating u-text-right">
                             121
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>]

In [153]:
row1_Rating=[] 
for i in r1_Rating:
    row1_Rating.append(i.text.replace('\n',''))
row1_Rating

['                            121                            ']

In [154]:
r2_Rating = soup.find_all('td', class_="table-body__cell u-text-right rating")
r2_Rating

[<td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell u-text-right rating">116</td>,
 <td class="table-body__cell u-text-right rating">113</td>,
 <td class="table-body__cell u-text-right rating">98</td>,
 <td class="table-body__cell u-text-right rating">93</td>,
 <td class="table-body__cell u-text-right rating">91</td>,
 <td class="table-body__cell u-text-right rating">84</td>,
 <td class="table-body__cell u-text-right rating">83</td>,
 <td class="table-body__cell u-text-right rating">62</td>,
 <td class="table-body__cell u-text-right rating">48</td>,
 <td class="table-body__cell u-text-right rating">46</td>,
 <td class="table-body__cell u-text-right rating">45</td>,
 <td class="table-body__cell u-text-right rating">38</td>,
 <td class="table-body__cell u-text-right rating">37</td>,
 <td class="table-body__cell u-text-right rating">30</td>,
 <td class="table-body__cell u-text-right rating">21</td>,
 <td class="table-body__cell u-text-right rating">17</td>,
 <td class="table-body__cell u-text-right rating">16</td>,
 <td class="table-body__cell u-text-right rating">0</td>]

In [155]:
row2_Rating=[] 
for i in r2_Rating:
    row2_Rating.append(i.text.replace('\n',''))
row2_Rating

['119',
 '116',
 '113',
 '98',
 '93',
 '91',
 '84',
 '83',
 '62',
 '48',
 '46',
 '45',
 '38',
 '37',
 '30',
 '21',
 '17',
 '16',
 '0']

In [169]:
Top10_Rating = row1_Rating + row2_Rating[0:9]

In [185]:
Top10_Rating

['                            121                            ',
 '119',
 '116',
 '113',
 '98',
 '93',
 '91',
 '84',
 '83',
 '62']

In [188]:
Top_ODI = {'Team':Top10_Teams, 'Matches':Top10_Matches, 'Points':Top10_points, 'Rating':Top10_Rating}

In [191]:
import pandas as pd
odi_Top10_teams = pd.DataFrame(Top_ODI)
odi_Top10_teams

,Team,Matches,Points,Rating
0,New Zealand,17,"2,054",121 ...
1,England,32,"3,793",119
2,Australia,28,"3,244",116
3,India,32,"3,624",113
4,South Africa,25,"2,459",98
5,Pakistan,27,"2,524",93
6,Bangladesh,30,"2,740",91
7,West Indies,30,"2,523",84
8,Sri Lanka,32,"2,657",83
9,Afghanistan,17,"1,054",62