In [ ]:
!pip install bs4
!pip install requests

In [1]:
from bs4 import BeautifulSoup
import requests

In [202]:
Page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [203]:
soup = BeautifulSoup(Page.content)

In [ ]:
soup

In [207]:
r1_Player = soup.find_all('div', class_="rankings-block__banner--name-large")
r1_Player

In [208]:
row1_Player=[] 
for i in r1_Player:
    row1_Player.append(i.text.replace('\n',''))
row1_Player

['Babar Azam']

In [253]:
r2_Player = soup.find_all('td', class_="table-body__cell rankings-table__name name")
r2_Player[0:5]

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/164">Virat Kohli</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/107">Rohit Sharma</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/226">Ross Taylor</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/167">Aaron Finch</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/506">Jonny Bairstow</a>
 </td>]

In [254]:
row2_Player=[] 
for i in r2_Player:
    row2_Player.append(i.text.replace('\n',''))
row2_Player [0:5]

['Virat Kohli', 'Rohit Sharma', 'Ross Taylor', 'Aaron Finch', 'Jonny Bairstow']

In [211]:
Top10_Player = row1_Player + row2_Player[0:9]
Top10_Player

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock']

In [226]:
r1_Team = soup.find_all('div', class_="rankings-block__banner--nationality")
r1_Team

[<div class="rankings-block__banner--nationality">
 <div class="flag-15 PAK"></div>
 <span class="rankings-block__banner--nation"></span>PAK
                     </div>]

In [227]:
row1_Team=[] 
for i in r1_Team:
    row1_Team.append(i.text.replace('\n',''))
row1_Team

['PAK                    ']

In [249]:
r2_Team = soup.find_all('span', class_="table-body__logo-text")
r2_Team[0:5]

[<span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">ENG</span>]

In [250]:
row2_Team=[] 
for i in r2_Team:
    row2_Team.append(i.text.replace('\n',''))
row2_Team[0:5]

['IND', 'IND', 'NZ', 'AUS', 'ENG']

In [233]:
Top10_Team = row1_Team + row2_Team[0:9]

In [234]:
Top10_Team

['PAK                    ',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'AUS',
 'WI',
 'NZ',
 'SA']

In [235]:
r1_Rating = soup.find_all('div', class_="rankings-block__banner--rating")
r1_Rating

In [236]:
row1_Rating=[] 
for i in r1_Rating:
    row1_Rating.append(i.text.replace('\n',''))
row1_Rating

['873']

In [251]:
r2_Rating = soup.find_all('td', class_="table-body__cell rating")
r2_Rating[0:5]

[<td class="table-body__cell rating">844</td>,
 <td class="table-body__cell rating">813</td>,
 <td class="table-body__cell rating">801</td>,
 <td class="table-body__cell rating">779</td>,
 <td class="table-body__cell rating">775</td>]

In [252]:
row2_Rating=[] 
for i in r2_Rating:
    row2_Rating.append(i.text.replace('\n',''))
row2_Rating[0:5]

['844', '813', '801', '779', '775']

In [239]:
Top10_Rating = row1_Rating + row2_Rating[0:9]

In [240]:
Top10_Rating

['873', '844', '813', '801', '779', '775', '762', '758', '754', '747']

In [242]:
Top10_Batsmen = {'Player':Top10_Player, 'Team':Top10_Team,'Rating':Top10_Rating}

In [244]:
import pandas as pd
ODI_Top10_Batsmen = pd.DataFrame(Top10_Batsmen)
ODI_Top10_Batsmen

            Player                     Team Rating
0       Babar Azam  PAK                        873
1      Virat Kohli                      IND    844
2     Rohit Sharma                      IND    813
3      Ross Taylor                       NZ    801
4      Aaron Finch                      AUS    779
5   Jonny Bairstow                      ENG    775
6     David Warner                      AUS    762
7        Shai Hope                       WI    758
8  Kane Williamson                       NZ    754
9  Quinton de Kock                       SA    747