In [ ]:
!pip install bs4
!pip install requests

In [1]:
from bs4 import BeautifulSoup
import requests

In [256]:
Page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [257]:
soup = BeautifulSoup(Page.content)

In [ ]:
soup

In [259]:
r1_Player = soup.find_all('div', class_="rankings-block__banner--name-large")
r1_Player

In [260]:
row1_Player=[] 
for i in r1_Player:
    row1_Player.append(i.text.replace('\n',''))
row1_Player

['Trent Boult']

In [261]:
r2_Player = soup.find_all('td', class_="table-body__cell rankings-table__name name")
r2_Player[0:5]

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/857">Josh Hazlewood</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/4572">Mujeeb Ur Rahman</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/967">Chris Woakes</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1597">Mehedi Hasan</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1505">Matt Henry</a>
 </td>]

In [262]:
row2_Player=[] 
for i in r2_Player:
    row2_Player.append(i.text.replace('\n',''))
row2_Player [0:5]

['Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry']

In [263]:
Top10_Player = row1_Player + row2_Player[0:9]
Top10_Player

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [264]:
r1_Team = soup.find_all('div', class_="rankings-block__banner--nationality")
r1_Team

[<div class="rankings-block__banner--nationality">
 <div class="flag-15 NZ"></div>
 <span class="rankings-block__banner--nation"></span>NZ
                     </div>]

In [265]:
row1_Team=[] 
for i in r1_Team:
    row1_Team.append(i.text.replace('\n',''))
row1_Team

['NZ                    ']

In [266]:
r2_Team = soup.find_all('span', class_="table-body__logo-text")
r2_Team[0:5]

[<span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">AFG</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">BAN</span>,
 <span class="table-body__logo-text">NZ</span>]

In [267]:
row2_Team=[] 
for i in r2_Team:
    row2_Team.append(i.text.replace('\n',''))
row2_Team[0:5]

['AUS', 'AFG', 'ENG', 'BAN', 'NZ']

In [268]:
Top10_Team = row1_Team + row2_Team[0:9]

In [269]:
Top10_Team

['NZ                    ',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA']

In [270]:
r1_Rating = soup.find_all('div', class_="rankings-block__banner--rating")
r1_Rating

In [271]:
row1_Rating=[] 
for i in r1_Rating:
    row1_Rating.append(i.text.replace('\n',''))
row1_Rating

['737']

In [272]:
r2_Rating = soup.find_all('td', class_="table-body__cell rating")
r2_Rating[0:5]

[<td class="table-body__cell rating">709</td>,
 <td class="table-body__cell rating">708</td>,
 <td class="table-body__cell rating">700</td>,
 <td class="table-body__cell rating">692</td>,
 <td class="table-body__cell rating">691</td>]

In [273]:
row2_Rating=[] 
for i in r2_Rating:
    row2_Rating.append(i.text.replace('\n',''))
row2_Rating[0:5]

['709', '708', '700', '692', '691']

In [274]:
Top10_Rating = row1_Rating + row2_Rating[0:9]

In [275]:
Top10_Rating

['737', '709', '708', '700', '692', '691', '679', '652', '650', '646']

In [277]:
Top10_Bowlers = {'Player':Top10_Player, 'Team':Top10_Team,'Rating':Top10_Rating}

In [278]:
import pandas as pd
ODI_Top10_Bowlers = pd.DataFrame(Top10_Bowlers)
ODI_Top10_Bowlers

             Player                    Team Rating
0       Trent Boult  NZ                        737
1    Josh Hazlewood                     AUS    709
2  Mujeeb Ur Rahman                     AFG    708
3      Chris Woakes                     ENG    700
4      Mehedi Hasan                     BAN    692
5        Matt Henry                      NZ    691
6    Jasprit Bumrah                     IND    679
7    Mitchell Starc                     AUS    652
8   Shakib Al Hasan                     BAN    650
9     Kagiso Rabada                      SA    646